// /*TABLET*/
// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .contact-nav {
//     display: block;
//     flex-wrap: wrap;
//     cursor: pointer;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// .contact-nav .link {
//   display: block;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.16;
//   letter-spacing: 0.02em;
//   color: var(--primary-text-color); /*#757575;*/
//   margin-bottom: 10px;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
//   .contact-nav .link:hover,
//   .contact-nav .link:focus,
//   .contact-nav .link:active {
//     color: var(--accent-color); /*#2196F3; */
//   }
// .link:hover {
//   fill: var(--accent-color);
// }
//   .contact-item-svg-envelope {
//     width: 14px;
//     height: 10px;
//     margin-right: 8px;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   .contact-item-svg-Mobile {
//     width: 10px;
//     height: 14px;
//     margin-right: 8px;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// DECSTOP
// @media screen and (min-width: 1200px) {

.contact-nav {
  display: flex;
  margin-left: auto;
  align-self: flex-end;
  cursor: pointer;
  /*list-style: none;*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contact-nav .contact-item + .contact-item {
  margin-left: 30px;
}
.contact-item {
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;

  &.link {
    align-items: center;
  }
}
.contact-item-svg-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item-svg-Mobile {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color); /*#757575;*/
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav .link :hover,
.contact-nav .link :focus,
.contact-nav .link :active {
  color: var(--accent-color); /*#2196F3; */
}

// .link:hover .contact-item-svg-envelope,
// .link:focus .contact-item-svg-envelope {
//   fill: var(--accent-color);
// }
// .link:hover .contact-item-svg-Mobile,
// .link:focus .contact-item-svg-Mobile {
//   fill: var(--accent-color);
// }
.link:hover .link:focus {
  fill: var(--accent-color);
}
