:root {
  --primary-text-color: #757575; /* оcновной главный*/
  --title-text-color: #212121; /*цвет заголовков*/
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff; /*белый */
  --second-bg-color: #f5f4fa; /*вторичный*/
  --third-bg-color: #2f303a; /* background hero fotter title */
}
