.header {
  border-bottom: 1px solid #ececec;
}
.container-main {
  justify-content: space-between;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  height: 80px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
}
.logo-color {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/* Навигация на другие страницы ========== */
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active,
.site-nav .link.current {
  color: var(--accent-color);
}
/*.site-nav .link.visited {} */

.site-nav .link {
  /*font-family: Roboto;
    font-style: normal;*/
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav {
  display: flex;
  margin-left: 93px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid transparent;*/
}
.site-nav .item + .item {
  margin-left: 53px;
}
.menu-link {
  position: relative;
}
.menu-link.current::before {
  opacity: 1;
}
.menu-link::before {
  content: "";
  display: inline-block;
  align-items: center;
  position: absolute;
  opacity: 0;
  left: 0px;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
