/*.header {
  position: relative;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}
.site-nav {
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}
.item {
  position: relative;
}*/

/*==========================*/
.header {
  border-bottom: 1px solid #ececec;
}
.container-main {
  justify-content: space-between;
  /*display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;*/
  background-color: var(--primary-bg-color);
  height: 80px;
}

/*.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/
/*LOGO*/
.page-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  /* font-size: 26px;
  line-height: 1.19;*/
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  /*  margin-top: 24px;
  margin-bottom: 25px;*/
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .page-logo {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .page-logo {
    font-size: 26px;
    line-height: 1.192;
  }
}
.logo-color {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .logo-color {
    font-size: 24px;
    line-height: 1.166;
  }
}
@media screen and (min-width: 1200px) {
  .logo-color {
    font-size: 26px;
    line-height: 1.192;
  }
}
/*===========================================*/
/* Навигация на другие страницы ========== */
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active,
.site-nav .link.current {
  color: var(--accent-color);
}
/*.site-nav .link.visited {} */

.site-nav .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) { ???
.site-nav {  
  display: flex;
  margin-left: 93px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid transparent;*/
}
/*.site-nav .item + .item {уже не надо
  margin-left: 53px;
}*/
.menu-link {
  position: relative;
}
.menu-link.current::before {
  opacity: 1;
}
.menu-link::before {
  content: "";
  display: inline-block;
   width: 100%;
    height: 2px;
  align-items: center;
  position: absolute;
  opacity: 0;
  left: 0px;
  bottom: -32px;
 
  // height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/*.menu-link:hover::after, .menu-link:focus:after { не мое
  transform: scaleX(1);
}
/*.navigation-link::after {  /*не мое
  display: inline-block;
  content: "";
  width: 100%;
  height: 2px;
  top: 45px;
  left: 0;
  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
